<h1 style="text-align: center; padding: 30px;">REMISERÍA HUMBERTO</h1>
<div class="wrap">
    <img src="https://www.cronista.com/__export/1512394972732/sites/diarioelcronista/img/2017/12/04/buenos_aires_hd_2_2.jpg_258117318.jpg"/>
</div>
<div style="text-align: center; padding: 30px;">
    <p>Remisería Humberto ofrece desde casi 27 años de trayectoria, un servicio Top en transportación personal y servicio ejecutivo y receptivo altamente calificado. Ofrece un servicio distinto, por nuestra responsabilidad, puntualidad y serenidad en el desempeño de nuestra labor.</p>
<p>Nos basamos en 4 pilares para ofrecer el mejor servicio del mercado: </p>
<ul>
    <ul>SEGURIDAD</ul>
    <ul>CONFIANZA</ul>
    <ul>EFICIENCIA</ul>
    <ul>PERSONALIZACIÓN</ul>
</ul>
<p>
        CHOFERES seleccionados y capacitados.
        AUTOS de alta y media gama, para garantizar el confort en su viaje.
        COMUNICACION permanentemente.
        La PUNTUALIDAD como una parte del servicio que es altamente valorada.</p>
</div>