
<div class="wrap">
    <img src="https://www.cronista.com/__export/1512394972732/sites/diarioelcronista/img/2017/12/04/buenos_aires_hd_2_2.jpg_258117318.jpg"/>
</div>
<div style="text-align: center; padding: 30px;">
<p>Somos una empresa de servicios fundada en junio del 2000. Desde sus comienzos se halla legalmente habilitada bajo el registro Nª 1255 expedido por el Gobierno de la Ciudad Autónoma de Buenos Aires y empadronada como marca la ley ante el ente "RUREM" creado en el año 1999 por la secretaría de transporte.</p>
<p>Dedicamos todos nuestros esfuerzos para conocer sus necesidades y actuar rápidamente sobre ellas, incorporando novedades y tecnología que a usted le permita viajar cada vez mejor y a nosotros ofrecerle un mejor servicio.</p>
</div>