/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


button:focus {
	outline : none !important;
}
button.cdk-focused.cdk-program-focused .mat-button-focus-overlay {
	opacity: 0 !important;
}
button.cdk-focused.cdk-program-focused:hover .mat-button-focus-overlay {
	opacity: 1 !important;
}